.container{
    background-color: green;
    color: white;
}

.venue{
    margin: 68px;
}

h1{
  border: 5px solid black;
  width: 250px;
  padding: 200px;
}

img{ 
    float: right;
    margin-left: 0 0 300 0;
    width:  550px;
    height: 700px;
   
}

input{
    width: 300px;
    background-color: yellow;
}


